h1#title { text-align: center; }

div.acrostic-board {
    border: solid #000;
    background-color: #000;

    display: table;
    table-layout: fixed;
    empty-cells: show;
    border-collapse: collapse;

    height: auto;
    width: auto;
    z-index: 0;
}

div.acrostic-board div.acrostic-row {
    display: table-row;
    min-height: 20px;
}


span.acrostic-square {
    display: table-cell;

    border: solid #000 1px;
    margin: 0;

    text-align: center;
    white-space: pre;

    min-width: 20px;
    min-height: 20px;

    resize: none;
    z-index: 2;
}

span.acrostic-square.acrostic-entry {
    background-color: #fff;
}

span.acrostic-square.acrostic-entry.acrostic-primary {
    border: solid #a22 1px;
    background-color: #a22;
}

span.acrostic-square.acrostic-entry.acrostic-secondary {
    border: solid #a22 1px;
    background-color: #faa;
}

span.acrostic-square.acrostic-entry span.acrostic-square-number {
    z-index: 1;

    margin: 0 1px;

    float: left;
    position: relative;
    top: -1px;   

    vertical-align: top;
    font-size: x-small;
}

span.acrostic-square.acrostic-entry span.acrostic-square-clue {
    z-index: 1;

    margin: 0 1px;

    float: right;
    position: relative;
    top: -1px;   

    vertical-align: top;
    font-size: x-small;
}


span.acrostic-square.acrostic-punct {
    background-color: #fff;
}

div.acrostic-cluelist {
    width: 100%;
}

div.acrostic-clueentry {
    display: table;

    border-spacing: 5px;

    table-layout: fixed;
    empty-cells: show;

    /* TODO column mode */
    float: left;
    padding-right: 10px;

    height: auto;
    width: auto;
}

span.acrostic-clue {
    display: table-header-group;
}

div.acrostic-letters {
    display: table-row;
}

span.acrostic-letter {
    display: table-cell;

    text-align: center;

    border: solid #fff 1px;

    min-width: 28px;
    max-width: 28px;
    padding: 0px;
    margin: 0px;
}

div.acrostic-numbers {
    display: table-row;
}

span.acrostic-number {
    display: table-cell;
    border-top: solid #000 1px;

    text-align: center;
    font-size: x-small;

    min-width: 28px;
    max-width: 28px;
    padding: 0px;
    margin: 0px;
}

span.acrostic-primary {
    border: solid #a22 1px;
    background-color: #a22;
}

span.acrostic-secondary {
    border: solid #a22 1px;
    background-color: #faa;
}
